@import "tailwindcss";

:root {
  --color-bg: #F5F5F5;
  --color-mg: #FFFFFF;
  --color-border: #EEEEEE;

  --color-text-primary: #333333;
  --color-text-secondary: #666666; 

  --color-status-success: #28A745;
}

/* --- Dark Mode Overrides --- */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #121212; 
    --color-mg: #1E1E1E; 
    --color-fg: #3C3C3C;

    --color-text-primary: #EBEBEB; 
    --color-text-secondary: #A0A0A0; 
    /* lighter for dark mode */
    --color-status-success: #66BB6A; 
  }
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-fg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  color: var(--color-text-primary);
  background: var(--color-bg);
  font-family: Arial, Helvetica, sans-serif;
}